!!!
%html{lang: "ja"}
    %head
        %meta(charaset="UTF-8")
    %body
        国際商取引おしまい委員会
        %p
            貿易をやりませにゃん
        
        %p やらないっつってんだろ

        %p 
            ちなみに
            %p なんだけど
            どうかな
            / そうなりました

        %ul
            %li<
                金
            %li<
                銀
            %li<
                瑠璃
            %li<
                玻璃

        %ul
            %li<>
                足尾銅山鉱毒事件

        