-# coding: UTF-8

!!!
%html{lang: "ja"}
    %head
        %meta(charaset="UTF-8")
        %meta(name="description" content="記号論だよ")
    %body
        %h1 国際商取引おしまい委員会
        %div{class: "本国", id: "さわやか"}
        %div(class="本国" id="すこやか")
        / %div.本国#のびやか
        / .本国#おだやか
        / この記法では日本語はだめな模様
        %div.honboku#nobiaka
        .hongoku#odayaka
        
        .gaikoku
            #thunderlporntezhetso