<p id="notice"><%= notice %></p>

<h1><%= @questionary.title %></h1>

<table>
    <thread>
        <tr>
            <th>結果</th>
        </tr>
    </thread>

    <tbody>
        <% @questionary_results.each do |result| %>
            <tr>
                <td><%= result.result %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>
<a href="/questionary_results/calc/<%= @questionary.id %>">集計結果</a>