!!!
%html{lang: "ja"}
    %head
        %meta(charaset="UTF-8")
        %meta(name="description" content="記号論だよ")
    %body
        .class#id1 国際商取引おしまい委員会

        :css
            .class{
                font-size: 12px;
                color: pink;
            }

        :javascript
            alert("モフ☆モフにゃんこパラダイス");
            alert("謎一発変換");

        :markdown
            - ぺ
            - ぽ

        #- Rubyを使う
        %p 日本#{Time.now.to_s}同盟
        - num = "numm"
        %p= num
        - 10.times do |i|
            %p{id: "nyan#{i}0"} #{i}にゃん専用おまめ冷凍っ子
            